#button-list-overlay {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background-color, #f0f0f0);
    color: var(--text-color, #000000);
}

#button-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#button-list-overlay button {
    margin-bottom: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#button-list-overlay button:hover {
    opacity: 0.8;
}

#new-button-btn {
    margin-top: auto;
}

#minimize-btn {
    align-self: flex-end;
    width: 20px !important;
    height: 20px;
    padding: 0 !important;
    margin-bottom: 10px;
    font-weight: bold;
}

#settings-btn {
    align-self: flex-end;
    width: 20px !important;
    height: 20px;
    padding: 0 !important;
    margin-bottom: 10px;
}

#settings-icon {
    width: 100%;
    height: 100%;
}

/* Form styles */
#add-button-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#add-button-form h3 {
    margin-top: 0;
}

#add-button-form label {
    margin-top: 10px;
}

#add-button-form input[type="text"],
#add-button-form input[type="color"] {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 12px); /* Adjust width to fit inside padding and border */
}

#add-button-form button {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

#add-button-form button:hover {
    background-color: #45a049;
}

/* Ensure the body doesn't overflow when in sidebar mode */
body {
    overflow-x: hidden;
}
